<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <title>Staff Rating Details</title>
    <link rel="stylesheet" href="/css/detail.css" />
  </head>
  <body>
    <div class="container">
      <h1>Details for <span th:text="${rating.name}"></span></h1>
      <ul>
        <li>Email: <span th:text="${rating.email}"></span></li>
        <li>Role: <span th:text="${rating.profile.displayTitle}"></span></li>
        <li>Niceness: <span th:text="${rating.niceness}"></span></li>
        <li>Clarity: <span th:text="${rating.clarity}"></span></li>
        <li>Knowledge: <span th:text="${rating.knowledgeableScore}"></span></li>
        <li>
          Average:
          <span th:text="${#numbers.formatDecimal(avg, 1, 2)} + ' / 10'"></span>
        </li>
      </ul>
      <div class="actions">
        <a th:href="@{'/ratings/edit/' + ${rating.id}}">Edit</a>
        <form
          th:action="@{'/ratings/delete/' + ${rating.id}}"
          method="post"
          onsubmit="return confirm('Are you sure you want to delete?');"
          style="display: inline"
        >
          <button type="submit">Delete</button>
        </form>
        <a href="/">Back to List</a>
      </div>
    </div>
  </body>
</html>
