body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  text-align: center;
}

.submit-btn {
  text-align: center;
}

.btn-prev {
  margin-top: 0.5rem;
}
